/*--Adding a web font to the page for use*/

/*-----------------Poiret One-------------*/
@font-face {
    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    src: local('Poiret One'), local('PoiretOne-Regular'), url(http://fonts.gstatic.com/s/poiretone/v4/cKr_e199f0xMkxMkRbEJXwsYbbCjybiHxArTLjt7FRU.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    src: local('Poiret One'), local('PoiretOne-Regular'), url(http://fonts.gstatic.com/s/poiretone/v4/3Annd_XP-99FcGbOpm6fVAsYbbCjybiHxArTLjt7FRU.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    src: local('Poiret One'), local('PoiretOne-Regular'), url(http://fonts.gstatic.com/s/poiretone/v4/HrI4ZJpJ3Fh0wa5ofYMK8QzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/*--------------Rubiks--------------------*/
/*---------Adding Font--------*/
/* cyrillic */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: local('Rubik'), local('Rubik-Regular'), url(http://fonts.gstatic.com/s/rubik/v1/H-PGIsE3CA76bgvfUI8sM4DGDUGfDkXyfkzVDelzfFk.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: local('Rubik'), local('Rubik-Regular'), url(http://fonts.gstatic.com/s/rubik/v1/Vi2gYeiEKThJHNpaE3cq54DGDUGfDkXyfkzVDelzfFk.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: local('Rubik'), local('Rubik-Regular'), url(http://fonts.gstatic.com/s/rubik/v1/p_PvaTv0YzIEJlEVv30xK6CWcynf_cDxXwCLxiixG1c.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/*-----------------wrapper and body---------------*/
body{
    background-image: url("../images/wood.jpg");
    background-attachment: fixed;
    width:100%;
}
#wrapper{
    margin: 5% auto;
    width:70%;
}
/*-------------Bio Section---------------*/
#bio{
    margin-bottom: 3%;
    width: 100%;
    display: inline-block;
    padding: 1%;
    color: white;
}

#bio img{
    border-radius: 50%;
    float: left;
    width: 45%;

}
#bio p{
    display: inline-block;
    text-align: justify;
    font-family: Rubik, sans-serif;
}
#bio h2{
    font-family: "Poiret One", sans-serif;
}
#bio-words{
    width: 50%;
    float: right;
    text-align: center;
    margin-right: 2%;
}
/*------------------Composition area---------------*/
.comps ul{
    width: 90%;
    list-style: none;
}
.comps{
    padding: 2% 0 1% 0;
    width: 100%;
    background-color: white;
    margin-bottom: 3%;
}
.comps p{
    font-family: Rubik, sans-serif;
}
.comps h1{
    width: 100%;
    text-align: center;
    font-family: Rubik, sans-serif;
    font-weight: bold;
    font-size: 2.2em;
    margin: 0% auto;
}
.comps h4{
    font-size: 1.5em;
    font-weight: bold;
    font-family: "Poiret One", sans-serif;
}
.comps li{
    padding: 0 1em 0 1em;
}
.comps li:nth-child(2){
    border-left: solid .1em black;
    border-right: solid .1em black;
}
.comps img{
    display: block;
    width: 90%;
    margin: 2% auto;
}
.comps img:hover{
    border: solid .3em red;
    cursor: pointer;
}
.comp-button{
    display: block;
    padding: .5em;
    background-color: cornflowerblue;
    width: 90%;
    margin: 2% auto;
    color: azure;
    font-family: "Poiret One", sans-serif;
    font-size: 1.2em;
}
a{
    text-decoration: none;
}

/*------------------Footer------------------*/
footer{
    display: inline-block;
    margin: 3.125% auto;
    padding-bottom: 2%;
    text-align: center;
    width: 100%;
    font-family: Rubik, sans-serif;
}