/*---------------Custom Font------------*/
/* latin-ext */
@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 300;
    src: local('Merriweather Light'), local('Merriweather-Light'), url(http://fonts.gstatic.com/s/merriweather/v8/ZvcMqxEwPfh2qDWBPxn6nrsKtFnhOiVZh9MDlvO1Vys.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 300;
    src: local('Merriweather Light'), local('Merriweather-Light'), url(http://fonts.gstatic.com/s/merriweather/v8/ZvcMqxEwPfh2qDWBPxn6nkZRWJQ0UjzR2Uv6RollX_g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
#gallery{
    width: 100%;
    margin: 2em auto;
    background-image: url("images/wheat.jpg");

}

#gallery header{
    margin: 0 auto;
    padding-top: .1em;
    text-align: center;
    color: white;
}
#gallery header h1{
    font-family: 'Merriweather', serif;
    letter-spacing: .1em;
    margin-bottom: 0;
    font-size: 2em;
}
#gallery header img{
    width: 15%;
    margin-top: 0;
}
#gallery #carousel{
    display: block;
    width: 90%;
    margin: 0 auto;
}
#gallery #carousel img{
    display: block;
    border: solid white .8em;
    margin: 0 auto;
}

#gallery #carousel button{
    font-family: 'Merriweather', serif;
    margin: 0 auto;
    display: block;
    color: white;
    background-color: orange;
    width: 6%;
    padding: .5em;
    border: none;
    font-size: .7em;
}
#gallery #carousel span{
    color: white;
    font-size: 1.5em;
}
#gallery #carousel span:hover{
    color: orange;
    cursor: pointer;
}
#gallery #carousel span:nth-child(1){
    float: left;
    position: relative;
    top: 8em;
    left: 10%;
}
#gallery #carousel span:nth-child(2){
    float: right;
    position: relative;
    top: 8em;
    right: 10%;
}
@keyframes borderC {
    to{border-color: orange;}
}
#gallery #carousel img:hover{
    animation-name: borderC;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-timing-function: ease;
}

/*------------------Media Query-------------------*/
@media only screen and (max-width : 900px){
    #gallery header img{
        width: 30%;
    }
    #gallery #carousel span:nth-child(1){
        left: 0;
    }
    #gallery #carousel span:nth-child(2){
        right: 0;
    }
    #gallery #carousel img{
        width: 80%;
        border: solid white .5em;
    }
    #gallery #carousel button{
        width: 10%;
    }
}
@media only screen and (max-width : 600px){
    #gallery #carousel span:nth-child(1){
        top: 3em;
    }
    #gallery #carousel span:nth-child(2){
        top: 3em;
    }
    #gallery #carousel button{
        width: 15%;
    }
}