<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="comp5.css" rel="stylesheet">
    <title></title>
</head>
    <body>
    <section id="gallery">
        <header>
            <header><h1>PHOTO GALLERY</h1></header>
            <figure><img src="images/underline.png"></figure>
        </header>

        <div id="carousel">
            <figure>
                <span> < </span>
                <span> > </span>
                <img src="images/bread.jpg"> </figure>
            <button>MORE</button>
        </div>

    </section>

</body>
</html>