<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="comp5.css" rel="stylesheet">
    <title></title>
</head>
    <body>
    <section id="gallery">
        <header>
            <header><h1>Photo Gallery</h1></header>
            <figure><img src="images/underline.png"></figure>
        </header>

        <div id="carousel">
            <figure> <span id="left"> < </span> <span id="right"> > </span><img src="images/bread.jpg"> </figure>
            <button>More</button>
        </div>

    </section>

</body>
</html>