/*-----------------Custom Font----------------*/
/* latin-ext */
@font-face {
    font-family: 'Armata';
    font-style: normal;
    font-weight: 400;
    src: local('Armata'), local('Armata-Regular'), url(http://fonts.gstatic.com/s/armata/v6/LRNOnn9Pb2GCIxsZoujxg3-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Armata';
    font-style: normal;
    font-weight: 400;
    src: local('Armata'), local('Armata-Regular'), url(http://fonts.gstatic.com/s/armata/v6/XtIsLIakMlB5ClFtSInY4-vvDin1pK8aKteLpeZ5c0A.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: local('Oswald Regular'), local('Oswald-Regular'), url(http://fonts.gstatic.com/s/oswald/v10/Qw6_9HvXRQGg5mMbFR3Phn-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: local('Oswald Regular'), local('Oswald-Regular'), url(http://fonts.gstatic.com/s/oswald/v10/_P8jt3Y65hJ9c4AzRE0V1OvvDin1pK8aKteLpeZ5c0A.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

#welcome{
    margin: 3em auto;
    width: 80%;
    text-align: center;
}
#welcome header{
    margin-bottom: 7%;
}
#welcome header h1{
    font-family: "Armata", sans-serif;
    letter-spacing: .3em;
    font-size: 3em;
    margin: 0 auto;
}
#welcome header h2{
    font-family: 'Oswald', sans-serif;
    font-size: .9em;
    margin-top: 0;
}
 #welcome p:nth-child(2){
     width: 80%;
     margin: 0 auto 5% auto;
     font-family: 'Oswald',sans-serif;
     color:#999 ;
     font-size: .8em;
 }
 #welcome .progress h3{
     font-family: "Armata", sans-serif;
     font-size: 2em;
     margin: 2% auto 0 auto ;
 }
#welcome .progress{
    width: 50%;
    margin: 0 auto;
    color: #068ec0;
}
#welcome .progress p{
    color: #068ec0;;
    font-size: 1em;
    margin: 0 auto;
}
 #welcome .progress progress{
     -webkit-appearance: none;
     appearance: none;
     width: 100%;
     height: .2em;
 }
 #welcome  .progress progress::-webkit-progress-value{
     background: #068ec0;
 }

@keyframes bgc{
    0% {color: #999 }
    50% {color: #068ec0}
    100% {color: #999}

}
#welcome p:nth-child(2):hover{
    animation-name: bgc;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}
/*------------------Media Query-------------------*/
@media only screen and (max-width : 600px){
    #welcome header h1{
        font-size: 2.7em;
    }
    #welcome .progress{
        width: 100%;
    }
}