<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="comp2.css" rel="stylesheet">
    <title></title>
</head>
<body>
    <section id="welcome">
        <header>
            <h1>Welcome</h1>
            <h2> Est impetus pertinax in.</h2>
        </header>

        <p>Timeam dolorum maluisset vim id, noster mollis mel ei. Pri aliquip euismod at, ex diam elitr possit ius. Fierent referrentur ut eos.
            Fastidii theophrastus eum id, salutandi neglegentur te mel. Sea labores consequat adversarium in, ex dicit invidunt sensibus ius. Duo
            no reprimique inciderint, te sit accusam referrentur.</p>
        <div class="progress">
            <h3>25%</h3>
            <p>Duis autem</p>
            <progress value="25" max="100"></progress>
        </div>

        <div class="progress">
            <h3>69%</h3>
            <p>Typi non habe</p>
            <progress value="69" max="100"></progress>
        </div>
    </section>

</body>
</html>