<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<nav>
    <div>
        <img src="images/logo.png">
    </div>
    <ul>
        <li>
            <p>Home</p>
        </li>
        <li>
            <p>About Us</p>
        </li>
        <li>
            <p>Services</p>
        </li>
        <li>
            <p>Blog</p>
        </li>
        <li>
            <p>Works</p>
        </li>
        <li>
            <p>Contacts</p>
        </li>
    </ul>
</nav>

</body>
</html>