<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<nav>
    <div>
        <img src="images/logo.png">
    </div>
    <ul>
        <li>
            <a href="#"><p>Home</p></a>
        </li>
        <li>
            <a href="#"><p>About Us</p></a>
        </li>
        <li>
            <a href="#"><p>Services</p></a>
        </li>
        <li>
            <a href="#"><p>Blog</p></a>
        </li>
        <li>
            <a href="#"><p>Works</p></a>
        </li>
        <li>
            <a href="#"><p>Contacts</p></a>
        </li>
    </ul>
</nav>

</body>
</html>