<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="comp10.css" rel="stylesheet">
    <title></title>
</head>
<body>
    <section id="whatDo">
        <header><h1>What We Do</h1></header>
        <div id="info">
                <article>
                    <img src="images/1.png">
                    <h3>Nulla venenatis</h3>
                    <p>Lorem ipsum dolor sit amet, et mei aeque eirmod nominati, ea mei urbanitas</p>
                    <button>MORE</button>
                </article>

                <article>
                    <img src="images/2.png">
                    <h3>Consectetuer</h3>
                    <p>Lorem ipsum dolor sit amet, et mei aeque eirmod nominati, ea mei urbanitas</p>
                    <button>MORE</button>
                </article>

                <article>
                    <img src="images/3.png">
                    <h3>Pellentesque Sed</h3>
                    <p>Lorem ipsum dolor sit amet, et mei aeque eirmod nominati, ea mei urbanitas</p>
                    <button>MORE</button>
                </article>

                <article id="lastArticle">
                    <img src="images/4.png">
                    <h3>Nulla vel diam</h3>
                    <p>Lorem ipsum dolor sit amet, et mei aeque eirmod nominati, ea mei urbanitas</p>
                    <button>MORE</button>
                </article>
        </div>
    </section>

</body>
</html>