<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
        <section>
            <ul>
                <li>
                    <figure><img src="images/bread.jpg" alt="Bread And Bakery"></figure>
                    <img src="images/search.png">
                    <h2>Bread And Bakery</h2>
                    <p>Dolor Ipsum</p>
                </li>
                <li>
                    <figure><img src="images/fish.jpg" alt="Fresh Fish"></figure>
                    <img src="images/search.png">
                    <h2>Fresh Fish</h2>
                    <p>Dolor Ipsum</p>
                </li>
                <li>
                    <figure><img src="images/grocery.jpg" alt="Grocery & Frozen"></figure>
                    <img src="images/search.png">
                    <h2>Grocery & Frozen</h2>
                    <p>Dolor Ipsum</p>
                </li>
                <li>
                    <figure><img src="images/meat.jpg" alt="Fresh Meat"></figure>
                    <img src="images/search.png">
                    <h2>Fresh Meat</h2>
                    <p>Dolor Ipsum</p>
                </li>
            </ul>

            <ul>
                <li>
                    <figure><img src="images/fruit.jpg" alt="Fresh Fruits"></figure>
                    <img src="images/search.png">
                    <h2>Fresh Fruits</h2>
                    <p>Dolor Ipsum</p>
                </li>
                <li>
                    <figure><img src="images/drinks.jpg" alt="Fresh Drinks"></figure>
                    <img src="images/search.png">
                    <h2>Fresh Drinks</h2>
                    <p>Dolor Ipsum</p>
                </li>
                <li>
                    <figure><img src="images/vegetables.jpg" alt="Fresh Vegetables"></figure>
                    <img src="images/search.png">
                    <h2>Fresh Vegetables</h2>
                    <p>Dolor Ipsum</p>
                </li>
            </ul>
        </section>

</body>
</html>