<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="comp3.css" rel="stylesheet">
    <title></title>
</head>
<body>
        <section id="grocery">

            <ul id="first">
                <li>
                    <figure><img class="mainPic" src="images/bread.jpg" alt="Bread And Bakery"></figure>
                    <img class="search" src="images/search.png">
                    <div class="firstItems">
                        <a href="#">
                            <h2>Bread & Bakery</h2>
                            <p>Dolor Ipsum</p>
                        </a>
                    </div>

                </li>
                <li>
                    <figure><img class="mainPic" src="images/fish.jpg" alt="Fresh Fish"></figure>
                    <img class="search" src="images/search.png">
                    <div class="firstItems">
                        <a href="#">
                            <h2>Fresh Fish</h2>
                            <p>Dolor Ipsum</p>
                        </a>
                    </div>

                </li>
                <li>
                    <figure><img class="mainPic" src="images/grocery.jpg" alt="Grocery & Frozen"></figure>
                    <img class="search" src="images/search.png">
                    <div class="firstItems">
                        <a href="#">
                            <h2>Grocery & Frozen</h2>
                            <p>Dolor Ipsum</p>
                        </a>
                    </div>

                </li>
                <li>
                    <figure><img class="mainPic" src="images/meat.jpg" alt="Fresh Meat"></figure>
                    <img class="search" src="images/search.png">
                    <div class="firstItems">
                        <a href="#">
                            <h2>Fresh Meat</h2>
                            <p>Dolor Ipsum</p>
                        </a>
                    </div>

                </li>
            </ul>

            <ul id="second">
                <li>
                    <figure><img class="mainPic" src="images/fruit.jpg" alt="Fresh Fruits"></figure>
                    <img class="search" src="images/search.png">
                    <div>
                        <a href="#">
                            <h2>Fresh Fruits</h2>
                            <p>Dolor Ipsum</p>
                        </a>
                    </div>

                </li>
                <li>
                    <figure><img class="mainPic" src="images/drinks.jpg" alt="Fresh Drinks"></figure>
                    <img class="search" src="images/search.png">
                    <div>
                        <a href="#">
                            <h2>Fresh Drinks</h2>
                            <p>Dolor Ipsum</p>
                        </a>
                    </div>

                </li>
                <li>
                    <figure><img class="mainPic" src="images/vegetables.jpg" alt="Fresh Vegetables"></figure>
                    <img class="search" src="images/search.png">
                    <div>
                        <a href="#">
                            <h2>Fresh Vegetables</h2>
                            <p>Dolor Ipsum</p>
                        </a>
                    </div>

                </li>
            </ul>
        </section>

</body>
</html>