<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="comp3.css" rel="stylesheet">
    <title></title>
</head>
<body>
        <section id="grocery">

            <ul>
                <li>
                    <img src="images/bread.jpg" alt="Bread And Bakery">
                    <img src="images/search.jpg">
                    <div class="firstItems">
                        <a href="#">
                            <h2>Bread & Bakery</h2>
                            <p>DOLOR IPSUM</p>
                        </a>
                    </div>

                </li>
                <li>
                    <img src="images/fish.jpg" alt="Fresh Fish">
                    <img src="images/search.jpg">
                    <div class="firstItems">
                        <a href="#">
                            <h2>Fresh Fish</h2>
                            <p>DOLOR IPSUM</p>
                        </a>
                    </div>

                </li>
                <li>
                    <img src="images/grocery.jpg" alt="Grocery & Frozen">
                    <img src="images/search.jpg">
                    <div class="firstItems">
                        <a href="#">
                            <h2>Grocery & Frozen</h2>
                            <p>DOLOR IPSUM</p>
                        </a>
                    </div>

                </li>
                <li>
                    <img src="images/meat.jpg" alt="Fresh Meat">
                    <img src="images/search.jpg">
                    <div class="firstItems">
                        <a href="#">
                            <h2>Fresh Meat</h2>
                            <p>DOLOR IPSUM</p>
                        </a>
                    </div>

                </li>
            </ul>

            <ul>
                <li>
                    <img src="images/fruit.jpg" alt="Fresh Fruits">
                    <img src="images/search.jpg">
                    <div class="secondItems">
                        <a href="#">
                            <h2>Fresh Fruits</h2>
                            <p>DOLOR IPSUM</p>
                        </a>
                    </div>

                </li>
                <li>
                    <img src="images/drinks.jpg" alt="Fresh Drinks">
                    <img src="images/search.jpg">
                    <div class="secondItems">
                        <a href="#">
                            <h2>Fresh Drinks</h2>
                            <p>DOLOR IPSUM</p>
                        </a>
                    </div>

                </li>
                <li>
                    <img src="images/vegetables.jpg" alt="Fresh Vegetables">
                    <img src="images/search.jpg">
                    <div class="secondItems">
                        <a href="#">
                            <h2>Fresh Vegetables</h2>
                            <p>DOLOR IPSUM</p>
                        </a>
                    </div>

                </li>
            </ul>
        </section>

</body>
</html>