#grocery{
    width: 70%;
    margin: 3em auto;
    display: table;
}
#grocery ul{
    width: 90%;
    list-style: none;
    margin: 0 auto;
}
#grocery a{
    text-decoration: none;
}
#grocery a:link{
    color: white;
}
#grocery a:visited{
    color: white;
}
#first li{
    border-radius: 10%;
    background-color: #bfdb39;
    float: left;
    width: 22%;
    margin: 1%;
}
#first h2{
    width: 50%;
    margin: 2% 0 0 10%;
}
#second h2{
    width: 40%;
    margin: 2% 0 0 10%;
}
#first p, #second p {
    color: #343434;
    width: 50%;
    margin: 2% 0 0 10%;
}

#firstItems{
    display: inline-block;
    padding-top: 50%;
}
#first li img{
    border-radius: 10%;
}

.mainPic{
    width: 100%;
}

.search{
    display: none;
    width: 10%;
}
#second{
    margin-top: 10%;
}
#second li{
    margin: 1%;
    float: left;
    width: 30%;
    border-radius: 10%;
}
#second li img{
    border-radius: 10%;
}
#second li:nth-child(1){
    background-color: #2184c5;
}
#second li:nth-child(2){
    background-color: #fd7400;
}
#second li:nth-child(3){
    background-color: #f0e70c;
}
