<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<section>

    <article>

        <img src="images/1.jpg">

        <h2>Lorem ipsum dolor sit amet, et mei aeque eirmod nominati,</h2>

        <button>Dolor Ipsum</button>

    </article>

    <article>

        <img src="images/2.jpg">

        <h2>Lorem ipsum dolor sit amet, et mei aeque eirmod nominati,</h2>

        <button>Dolor Ipsum</button>

    </article>

    <article>

        <img src="images/3.jpg">

        <h2>Lorem ipsum dolor sit amet, et mei aeque eirmod nominati,</h2>

        <button>Dolor Ipsum</button>

    </article>

    <article>

        <img src="images/4.jpg">

        <h2>Lorem ipsum dolor sit amet, et mei aeque eirmod nominati,</h2>

        <button>Dolor Ipsum</button>

    </article>

    <article>

        <img src="images/5.jpg">

        <h2>Lorem ipsum dolor sit amet, et mei aeque eirmod nominati, </h2>

        <button>Dolor Ipsum</button>

    </article>

</section>

</body>
</html>