<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="comp7.css" rel="stylesheet">
    <title></title>
</head>
<body>

<section id="stories">

    <article id="mainStory">

        <a href="#"><img src="images/1.jpg"></a>

        <h2>Lorem ipsum dolor sit amet, et mei aeque eirmod nominati,</h2>

        <button>Dolor Ipsum</button>

    </article>

    <div id="secondStory">
        <article>

            <a href="#"><img src="images/2.jpg"></a>

            <h2>Lorem ipsum dolor sit amet, et mei aeque eirmod nominati,</h2>

            <button>Dolor Ipsum</button>

        </article>

        <article>

            <a href="#"><img src="images/3.jpg"></a>

            <h2>Lorem ipsum dolor sit amet, et mei aeque eirmod nominati,</h2>

            <button>Dolor Ipsum</button>

        </article>

        <article>

            <a href="#"><img src="images/4.jpg"></a>

            <h2>Lorem ipsum dolor sit amet, et mei aeque eirmod nominati,</h2>

            <button>Dolor Ipsum</button>

        </article>

        <article>

            <a href="#"><img src="images/5.jpg"></a>

            <h2>Lorem ipsum dolor sit amet, et mei aeque eirmod nominati, </h2>

            <button>Dolor Ipsum</button>

        </article>
    </div>

</section>

</body>
</html>