/*--------------------Custom Font-----------------*/
/* latin-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: local('Roboto Thin'), local('Roboto-Thin'), url(http://fonts.gstatic.com/s/roboto/v15/e7MeVAyvogMqFwwl61PKhBkAz4rYn47Zy2rvigWQf6w.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: local('Roboto Thin'), local('Roboto-Thin'), url(http://fonts.gstatic.com/s/roboto/v15/2tsd397wLxj96qwHyNIkxHYhjbSpvc47ee6xR_80Hnw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
#stories{
    width: 80%;
    display: table;
    margin: 0 auto;
    position: relative;
}
#stories button{
    border: none;
    background-color: red;
    color: white;
    margin-left: 5%;
    position: absolute;
    left: 1%;
    bottom: 1em;
    z-index: 2;

}
#stories button{
    font-family: "Roboto", sans-serif;
}
#stories h2{
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 1em;
    width: 90%;
    margin: 0 auto;
    position: absolute;
    left: 6%;
    bottom: 2em;
    z-index: 2;
}
#stories article{
    position: relative;
    z-index: 0;
    background-color: #999;
}
#secondStory{
    display: inline-block;
    width: 55%;
    float: left;
}
#stories #mainStory{
    float: left;
    width: 45%;
}

#stories #mainStory img{
    width: 100%;
    position: relative;
    z-index: 1;
}

#stories #secondStory article{
    display: inline-block;
    width: 38.5%;
    margin-bottom: 4%;
    margin-left: 6%;
}
#stories #secondStory article:nth-child(3){
    margin-bottom: 0;
}
#stories #secondStory article:nth-child(4){
    margin-bottom: 0;
}
#stories #secondStory article img{
    opacity: .5;
    width: 100%;
    position: relative;
    z-index: 1;
}
#stories #secondStory article img:hover{
    opacity: 100;
}
/*------------------Media Query-------------------*/
@media only screen and (max-width : 900px){
    #stories h2{
        font-size: .8em;
        bottom: 2.5em;
    }
}
@media only screen and (max-width : 700px){
    #stories #mainStory{
        width: 80%;
        margin: 0 auto;
        float: none;
    }
    #stories #secondStory{
        width: 100%;
        margin-top: 5%;
    }
    #stories #secondStory article{
        width: 42%;
        margin-left: 0;
    }
    #stories #secondStory article:nth-child(2){
        margin-left: 15.1%;
    }
    #stories #secondStory article:nth-child(4){
        margin-left: 15.1%;
    }
}


