<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div>
        <h1>Our Team</h1>
        <ul>
            <li>
                <img src="images/e1.jpg">
                <h3>Walter White</h3>
                <p>Lorem ipsum dolor sit amet, et mei aeque eirmod nominati, ea mei urbanitas disputationi, modus verterem te vis.</p>
                <img src="images/social-button.png">
            </li>
            <li>
                <img src="images/e2.jpg">
                <h3>Gwen Miller</h3>
                <p>Lorem ipsum dolor sit amet, et mei aeque eirmod nominati, ea mei urbanitas disputationi, modus verterem te vis.</p>
                <img src="images/social-button.png">
            </li>
            <li>
                <img src="images/e4.jpg">
                <h3>Jesse Pinkman</h3>
                <p>Lorem ipsum dolor sit amet, et mei aeque eirmod nominati, ea mei urbanitas disputationi, modus verterem te vis.</p>
                <img src="images/social-button.png">
            </li>
            <li>
                <img src="images/e3.jpg">
                <h3>Harley Quinn</h3>
                <p>Lorem ipsum dolor sit amet, et mei aeque eirmod nominati, ea mei urbanitas disputationi, modus verterem te vis.</p>
                <img src="images/social-button.png">
            </li>
        </ul>
    </div>

</body>
</html>