<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <section>
        <header>
            <h1>Our Team</h1>
        </header>
        <ul>
            <li>
                <figure><img src="images/e1.jpg" alt="Walter White"></figure>
                <h3>Walter White</h3>
                <p>Lorem ipsum dolor sit amet, et mei aeque eirmod nominati, ea mei urbanitas disputationi, modus verterem te vis.</p>
                <img src="images/social-button.png">
            </li>
            <li>
                <figure><img src="images/e2.jpg" alt="Gwen Miller"></figure>
                <h3>Gwen Miller</h3>
                <p>Lorem ipsum dolor sit amet, et mei aeque eirmod nominati, ea mei urbanitas disputationi, modus verterem te vis.</p>
                <img src="images/social-button.png">
            </li>
            <li>
                <figure><img src="images/e4.jpg" alt="Jesse Pinkman"></figure>
                <h3>Jesse Pinkman</h3>
                <p>Lorem ipsum dolor sit amet, et mei aeque eirmod nominati, ea mei urbanitas disputationi, modus verterem te vis.</p>
                <img src="images/social-button.png">
            </li>
            <li>
                <figure><img src="images/e3.jpg" alt="Harley Quinn"></figure>
                <h3>Harley Quinn</h3>
                <p>Lorem ipsum dolor sit amet, et mei aeque eirmod nominati, ea mei urbanitas disputationi, modus verterem te vis.</p>
                <img src="images/social-button.png">
            </li>
        </ul>
    </section>

</body>
</html>