#team{
    margin: 3em auto;
    width: 100%;
    text-align: center;
    background-image: url("images/legion.jpg");
    padding: 5% 0 8% 0;
    color: white;
}

#team ul{
    list-style: none;
    display: inline-block;
    margin: 0 auto;
    width: 70%;
}
#team ul li{
    float: left;
    width: 23%;
    margin-right: 1%;
}
#team ul li:last-child{
    margin: 0;
}
#team ul li img{
    width: 100%;
}
#team .border{
    border:solid white .1em;
}