<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="comp4.css" rel="stylesheet">
    <title></title>
</head>
<body>

    <section id="team">
        <header>
            <h1>OUR TEAM</h1>
        </header>
        <ul>
            <li>
                <img class="border" src="images/e1.jpg" alt="Walter White">
                <h3>Walter White</h3>
                <p>Lorem ipsum dolor sit amet, et mei aeque eirmod nominati</p>
                <a href="#">
                    <img src="images/social-button.png">
                </a>
            </li>
            <li>
                <img class="border" src="images/e2.jpg" alt="Gwen Miller">
                <h3>Asuna Yuki</h3>
                <p>Lorem ipsum dolor sit amet, et mei aeque eirmod nominati</p>
                <a href="#">
                    <img src="images/social-button.png">
                </a>
            </li>
            <li>
                <img class="border" src="images/e4.jpg" alt="Jesse Pinkman">
                <h3>Jesse Pinkman</h3>
                <p>Lorem ipsum dolor sit amet, et mei aeque eirmod nominati</p>
                <a href="#">
                    <img src="images/social-button.png">
                </a>
            </li>
            <li>
                <img class="border" src="images/e3.jpg" alt="Harley Quinn">
                <h3>Harley Quinn</h3>
                <p>Lorem ipsum dolor sit amet, et mei aeque eirmod nominati</p>
                <a href="#">
                    <img src="images/social-button.png">
                </a>
            </li>
        </ul>
    </section>

</body>
</html>