<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<section>
    <ul>
        <li>
            <figure><img src="images/clock.jpg" alt="Antique Clocks"></figure>
            <a href="#">
                <h1>Antique Clocks</h1>
                <button> > </button>
            </a>

        </li>

        <li>
            <figure><img src="images/dresser.jpg" alt="Antique Furniture"></figure>
            <a href="#">
                <h1>Antique Furniture</h1>
                <button> > </button>
            </a>
        </li>

        <li>
            <figure><img src="images/gun.jpg" alt="Rarity Weapons"></figure>
            <a href="#">
                <h1>Rarity Weapon</h1>
                <button> > </button>
            </a>
        </li>
    </ul>
</section>

</body>
</html>