#searchCrit{
    width: 100%;
    margin: 3em auto;
    display: inline-block;
}
#searchCrit ul{
    display: table;
    width: 70%;
    margin: 0 auto;
    list-style: none;
}
#searchCrit li{
    margin: 2%;
    width: 29.2%;
    float: left;
}
#searchCrit li:first-child{
    margin-left: 0;
}
#searchCrit img{
    width: 100%;
    height: 100%;
    margin: 0 auto ;
    display: block;
}
#searchCrit li div{
    margin-top: 0 ;
    background-color: #343434;
}
#searchCrit li a{
    width: 100%;
}
#searchCrit li a:link{
    color: white;
}
#searchCrit li a:visited{
    color: white;
}
#searchCrit li a h1{
    margin-left: 10%;
    display: inline-block;
    font-family: sans-serif;
    width: 50%;
}
#searchCrit li a img{
    float: right;
    width: 15%;
    position: relative;
    right: 10%;
    margin-top: 10%;
}