<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div>
    <ul>
        <li>
            <img src="images/clock.jpg">
            <p>Antique Clocks</p>
            <button> > </button>

        </li>

        <li>
            <img src="images/dresser.jpg">
            <p>Antique Furniture</p>
            <button> > </button>
        </li>

        <li>
            <img src="images/gun.jpg">
            <p>Rarity Weapon</p>
            <button> > </button>
        </li>
    </ul>
</div>

</body>
</html>