<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<section>
    <ul>
        <li>
            <figure><img src="images/clock.jpg" alt="Antique Clocks"></figure>
            <p>Antique Clocks</p>
            <button> > </button>

        </li>

        <li>
            <figure><img src="images/dresser.jpg" alt="Antique Furniture"></figure>
            <p>Antique Furniture</p>
            <button> > </button>
        </li>

        <li>
            <figure><img src="images/gun.jpg" alt="Rarity Weapons"></figure>
            <p>Rarity Weapon</p>
            <button> > </button>
        </li>
    </ul>
</section>

</body>
</html>