footer{
    width: 100%;
    background-color: black;
    color: white;
    display: inline-block;
}
footer p{
    text-align: center;
    
}
footer #links ul{
    list-style: none;
    margin: 0 auto;
}
footer #links li{
    float: left;
    margin-right: 6%;
}
footer #links img{
    width: 70%;
}

footer #links{
    display: inline-block;
    width: 60%;
    margin: 2% 25%;
}