<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div>
        <h1>testimonials</h1>
        <ul>
            <li>
                <h3>Robert Hugh</h3>
                <p>Lorem ipsum dolor sit amet, et mei aeque eirmod nominati, ea mei urbanitas disputationi, modus verterem te vis</p>
                <img src="images/1.jpg">
            </li>

            <li>
                <h3>Jenny Roberts</h3>
                <p>Lorem ipsum dolor sit amet, et mei aeque eirmod nominati, ea mei urbanitas disputationi, modus verterem te vis</p>
                <img src="images/2.jpg">
            </li>

            <li>
                <h3>Gabriel Iglesias</h3>
                <p>Lorem ipsum dolor sit amet, et mei aeque eirmod nominati, ea mei urbanitas disputationi, modus verterem te vis</p>
                <img src="images/3.jpg">
            </li>

            <li>
                <h3>Amy Palmer</h3>
                <p>Lorem ipsum dolor sit amet, et mei aeque eirmod nominati, ea mei urbanitas disputationi, modus verterem te vis</p>
                <img src="images/4.jpg">
            </li>
        </ul>
    </div>

</body>
</html>